# N8N Configuration
N8N_DEFAULT_USER_FIRST_NAME=Admin
N8N_DEFAULT_USER_LAST_NAME=User

# PostgreSQL Configuration
CONTAINER_NAME=matilda-pgsql
POSTGRES_DB=matilda
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_INITDB_ARGS=--auth-host=md5
POSTGRES_PORT=5432
VOLUME_NAME=matilda_postgres_data
